body {
    background-color: rgb(217, 222, 219);
    color: #22472d;
}
#content {
    border: #22472d solid 5px;
    width: min-content;
    color: #426d4e;
    image-rendering: pixelated;
}
#board {
    background-color: #edfff3;
    width: min(80vw, 80vh);
    aspect-ratio: 1 / 1;
    user-select: none;
}
#board div {
    display: flex;
}
.tile {
    width: calc(100% / 8);
    aspect-ratio: 1 / 1;
    position: relative;
}
.tile div {
    font-size: 17px;
    font-weight: 600;
}
.peice {
    width: min(6vw, 6vh);
    margin: 0;
    padding: 0;
    position: absolute;
    top: min(1vw, 1vh);
    left: min(2vw, 2vh);
}
.markup {
    display: none;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
}
#copied {
    background-color:#edfff3;
    position: absolute;
    top: 0;
    font-size: 30px;
    left: calc(min(40vw, 40vh) - 68px);
}
#top {
    color: #22472d;
}
#top button {
    color: #22472d;
    background: none;
    border: #22472d solid 2px;
}
.promotePrompt {
    display: block;
    position: absolute;
    top: -3px;
    left: min(10vw, 10vh);
    width: max-content;
    height: min(10vw, 10vh);
    z-index: 1;
    background-color: #edfff3;
    color: #22472d;
    border: solid 3px;
    box-shadow: 5px 5px 5px #22472d;
}
.promotePrompt img {
    width: min(6vw, 6vh);
    height: min(8.5vw, 8.5vh);
    margin: min(0.5vw, 0.5vh) min(2vw, 2vh);
}